@import 'mixins';



/* Plugins */



/* Blocks */

/*body {
  overflow-x: hidden;
}*/

body, ul, ol {
  margin: 0;
  padding: 0;
  background: #ECF7F3;
}

* {
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p{
  font-weight: normal;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol, li {
  list-style: none;
}

img {
  max-width: 100%;
  object-fit: cover;
}

input:focus {
  outline: none;
}












@import './src/blocks/global/global';
@import './src/blocks/header/header';