mixin global(modifier)
  section.global&attributes(attributes)
    .global__content 
      .global__box 
        .global__info 
          h1.global__title Now Buy Your PIN or<a href="#!" class="global__title-link"> Top Up</a>
          p.global__text-one With Bank Transfer
          p.global__text We Make international calling simple, relible, and cheap basedon your unique calling behavior.
          button(type="button").global__btn Get Started
          form.global__form
            input(type="search" placeholder="Where do you want to call?" pattern=".{4,}" maxlength="12").global__input
            button(type="submit").global__search 
          .global__users 
            .global__icons 
              img(src="img/men1.png").global__icon
              img(src="img/men2.png").global__icon
              img(src="img/men3.png").global__icon
              img(src="img/plus.png").global__icon
            p.global__text-small 45k+ Regular User.&ensp;
              a(href="#!").global__link-small View Price Plan
        .global__anime 
          img(src="img/girl2.png").global__big-img
          .global__flags
            img(src="img/flag1.png").global__img.global__img--five
            img(src="img/flag2.png").global__img.global__img--one
            img(src="img/flag3.png").global__img.global__img--two
            img(src="img/flag4.png").global__img.global__img--three
            img(src="img/flag5.png").global__img.global__img--four 